# Python specific
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/

# Virtual Env
# If you are using virtualenv
# .env directory
.env

# Pytest
.cache
.coverage
cover/
*.cover

# IDE/Editor specific
# PyCharm
.idea/
*.iml

# Visual Studio Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Spyder project settings
.spyderproject
.spy
